<div class="side-header">
  <div class="my-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="new-chat-btn">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-container">
  <div class="room">
    <div class="room-name">
      <a href="#">あいさつ</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">えいが</a>
    </div>
  </div>
</div>